[Unit]
Description=Give perms at boot
After=local-fs.target
Before=getty.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/perms.sh
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target