[Unit]
Description=Linko Launcher
After=network.target

[Service]
ExecStart=/usr/bin/java -Djava.library.path=/opt/linko/launcher/natives -Dorg.lwjgl.util.Debug=true -Dorg.lwjgl.util.DebugLoader=true -jar /opt/linko/launcher/LinkoLauncher.jar
User=player
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target